<div id="todoapp">

  <div class="title">
    <h1>TO DO LIST</h1>
  </div>

  <div class="content">

    <div id="create-todo">
      <input id="new-todo" placeholder="What needs to be done?" type="text" />
      <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
    </div>

    <div id="todos">
      <ul id="todo-list"></ul>
    </div>

    <div id="todo-stats"></div>

  </div>

</div>

<ul id="instructions">
  <li>Tap to done a todo.</li>
</ul>

<div id="credits">
  Created by
  <br />
  <a href="http://studio.tgl.jp/">Tool Studio</a>
</div>
